doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Order Page
  link(rel='canonical' href='https://getbootstrap.com/docs/4.6/examples/jumbotron/')
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
  style.
    body {
    background-size: cover;
    background-color: #ea7777;;
    padding: 3.5rem; }
    table {
    background-size: cover;
    background-color: #f1eeee;;
    padding: 3.5rem; }
.container
  h2 Customer Profile
  .table-responsive
    table.table
      thead
        tr
          th USER NAME
          th FIRST NAME
          th LAST NAME
      tbody
      //- each item in items
        tr
          td=item.CustomerID
          td=item.CusFirstName
          td=item.CustLastName
.container
  h2 Package
  .table-responsive
    table.table
      thead
        tr
          th START DATE
          th END DATE
          th COST
      tbody
      //- each item in items
        tr
          td=item.PkgStartDate
          td=item.PkgEndDate
          td=item.PkgBasePrice

       