//- Authors: David McDonald,  Farid Kassam, Shefqet Zyko
//- Grp1 Team 2
//- Date: 20 Mar 2021

//- Description: displays all bookings for currentUser

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator' content='Hugo 0.80.0')
  title View Bookings
  link(rel='canonical' href='https://getbootstrap.com/docs/4.6/examples/blog/')
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
  style.
    .jumbotron{background-color: transparent;
             color:#1ec9e4;
             }
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    body{
     background-image: url("../images/havana-4.jpg");
     background-size: cover
    }
    #indvBlog{
    background: rgba(253, 160, 101,0.5);
    }
  // Custom styles for this template
  link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900' rel='stylesheet')
  // Custom styles for this template
  link(href='./stylesheets/style.css' rel='stylesheet')
.container
  header.blog-header.py-3
  nav.navbar.navbar-expand-md.navbar-light.fixed-top(style='background-color: #e3f2fd;')
    a.navbar-brand(href='/') Travel Experts
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='destinations.html') Destinations
          li.nav-item.active
            a.nav-link(href='/packages') Packages
          li.nav-item.active
            a.nav-link(href='/viewbookings') Bookings
          li.nav-item.active
            a.nav-link(href='/blogs/all') Blogs
          li.nav-item.active
            a.nav-link(href='/blogs') Create Blog
          li.nav-item.active
            a.nav-link(href='/register')
              | Register 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/contacts') Contact Us
      if currentUser   
        .mt-1.mr-4.float-right
          a.float-right(href="/log-out") Logout
          p.float-right.mx-4.text-dark Welcome #{currentUser.userid}
  
  .jumbotron.p-4.p-md-5.rounded
    .col-md-6.px-0
      h4.display-4.font-italic Your Bookings! 


main.container.pt-3(style='padding:15px;')
  h1.text-center(style='color:#1ec9e4')=currentUser.CustFirstName + ' ' + currentUser.CustLastName
  .row
    each booking in allBookings 
      .col-md-3 
        .bd-example(style='margin-top: 25px;')
        .card.mx-auto(style='width: 14rem;background: rgb(255, 255, 255, 0.6);')
          .card-body
            p.card-text
              address
              strong Travel Experts
              br
              |           BookingId: #{booking.BookingId}
              br
              |           Booking Date: #{new Date(booking.BookingDate).toDateString()}
              br
              |           Traveler Count: #{booking.TravelerCount}
              br
              |           PackageId: #{booking.PackageId}
              br
              |           Total Cost: $#{booking.BookingCost}
              br
            a.button.btn.btn-danger.btn-sm(type='button' href=`viewbookings/delete/${booking._id}`) Delete
      .col-md-7 
        h1=''



              