doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Order Page
  link(rel='canonical' href='https://getbootstrap.com/docs/4.6/examples/jumbotron/')
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
  style.
    body {
    background-size: cover;
    background-color: #ea7777;
    background-image: url("../images/maldives.jpg");
    background-size: cover;
    padding: 3.5rem;
    color: #e55489;
    text-align: center; }
    table {
    background-size: cover;
    background-color: #f1eeee;
    padding: 3.5rem; }

body
nav.navbar.navbar-expand-md.navbar-light.fixed-top(style='background-color: #e3f2fd;')
  a.navbar-brand(href='/') Travel Experts
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='../learnmore.html') Destinations
        li.nav-item.active
          a.nav-link(href='/packages') Packages
        li.nav-item.active
          a.nav-link(href='/blogs/all') Blogs
        li.nav-item.active
          a.nav-link(href='/blogs') Create Blog
        li.nav-item.active
          a.nav-link(href='/register')
            | Register 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/contacts') Contact Us

.container
 
  if currentUser
        span Welcome Back #{currentUser.CustFirstName} 
        
.container
  h2 Customer Profile
  .table-responsive
      table.table
        thead
          tr
            th USER NAME
            th FIRST NAME
            th LAST NAME
        tbody
        if currentUser   
          tr
            td=currentUser.userid
            td=currentUser.CustFirstName
            td=currentUser.CustLastName
.container
  h2 Package
  .table-responsive
    table.table
      thead
        tr
          th PACKAGE NAME
          th START DATE
          th END DATE
          th COST
      tbody
       each item in data
        tr
          td=item.PkgName
          td=`${item.PkgStartDate.getFullYear()}/${item.PkgStartDate.getMonth()+1}/${item.PkgStartDate.getDate()}`
          td=`${item.PkgEndDate.getFullYear()}/${item.PkgEndDate.getMonth()+1}/${item.PkgEndDate.getDate()}`
          td=`$${item.PkgBasePrice}`

.container
  h2 Agent
  .table-responsive
    table.table
      thead
        tr
          th AGENT NAME
          th PHONE NUMBER
          th EMAIL
          th COMMISSION
      tbody
       each item in data
        tr
          td=`${dataAgent[0].AgtFirstName} ${dataAgent[0].AgtLastName}` 
          td=dataAgent[0].AgtBusPhone
          td=dataAgent[0].AgtEmail
          td=`$${(data[0].PkgBasePrice*0.06)}`

.container
 a.button.btn.btn-secondary(type='button' href=`/book/${data[0]._id}/${currentUser.CustomerId}`) Confirm Booking
       